.section-container {
    padding: 2rem 4rem;
}

.section-container:nth-child(even) {
    color: white;
    background-color: var(--blue-0);
}

.section-container:nth-child(odd) {
    color: var(--black);
    background-color: white;
    text-align: left;
}

.section-title {
    text-align: left;
}

